@import url('https://fonts.googleapis.com/css?family=Raleway');
body{
	background: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

*{
font-family: 'Raleway', sans-serif;
}

.panel-custom{
	background: rgba(255,255,255,0.1);
}

.panel-custom .panel-body{
	background: rgba(255,255,255,0.1);
}

.mybrand{
	position: fixed;
	bottom:0;
	left: 0; 
}