@import url('https://fonts.googleapis.com/css?family=Raleway');
body{
	background: #CCC;
	background-image: url(../img/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

*{
font-family: 'Raleway', sans-serif;
}

.panel-custom{
	background: rgba(255,255,255,0.1);
}

.panel-custom .panel-body{
	background: rgba(255,255,255,0.1);
}