html, body{
    height:100%;
    margin: 0;
}

.bg-landing{
    position: absolute;
    width: 100%;
    height: 100%;
}

.landing{
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.text-logo{
    font-family: 'Audiowide', cursive;
}

.page{
    position: relative;
    top: 100%;
}

#nombre{
    background: yellow;
    width: auto;
    font-size: 2rem;
    padding: 0 5px;
    font-family: 'Anton', sans-serif;
}

#sub{
    background: #FFF;
    font-size: 1.5rem;
    padding: 0 5px;
}

#nombre, #sub, #redes{
    margin: 10px;
}

#redes li a{
    color:#CCC;;
}

#redes li a:hover{
    color: #FFF;
}

.resume{
    position: absolute;
    bottom: 0;
    padding: 5px;
    box-sizing: border-box;
}

.landing h1{
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}


.footer{
    position: relative;
}

