@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

:root{
    --hstev-primary-color: green;
    --hstev-secondary-color: black;
}

* {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1rem;
}