@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root{
    --hstev-primary-color: green;
    --hstev-secondary-color: black;
}

* {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
}